# Node modules
node_modules/

# Build output
build/
dist/
out/

# Logs and caches
*.log
.cache/

# Testing and coverage reports
coverage/
.nyc_output/

# IDE and editor files
.idea/
.vscode/

# macOS-specific files
.DS_Store

# Environment variables
.env
.env.*